.navbar {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}


.links a{
        text-decoration: none;
        color: white;
        margin-left: 1rem;
        padding: 12px;
        background-color: cornflowerblue;
        transition: all 0.2s;
}
.links a:hover{
    background-color: rgb(75, 109, 173);
}