.navbar {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

.links{
  display: flex;
}
.links *{
        text-decoration: none;
        display: block;
        color: white;
        margin-left: 1rem;
        padding: 12px;
        background-color: cornflowerblue;
        transition: all 0.2s;
}
.links *:hover{
    background-color: rgb(75, 109, 173);
}

@media  (max-width:575px) {
    .navbar{
      flex-direction: column;
    }
}